@use'../custom' as *;
@use'../components/mixin' as *;
.menu {
    @include gradient;
    #brand-name{
        @include media-breakpoint-down(lg){
            // display: none !important;
        }
    }
    li{
        padding: 0 0.7rem;
    }
    a{
        color: $white !important;
        text-transform: capitalize;
        font-weight: 600;
    }
}